*{
    margin: 0px;
    padding: 0px;
}
#login{
    margin-top: 3%;
}
footer {
    position:fixed;
    left:0px;
    bottom:-10px;
    width:100%;
 }
 

i{
    padding: 12px;
}

 table{
     margin-top: 25px;

 }
 table th{
     text-align: center;
 }
 
 table tr {
     text-align: center;
 }
 
 .botonMisdatos{
     margin: 2px;
     float:right;
 }
#formMisDatos{
    margin-top: 15px;
    padding-bottom: 55px;
    padding-top: 25px;
    padding-left: 55px;
    padding-right: 55px;

}
#formMisDatos label {
    font-weight: bold;
}
 #producto {
     margin: 15px;
     border: 2px solid rgb(105, 104, 104);
     text-align: center;
 }


 #categoria{
     margin-top: 20px;
     text-align: center;

 }




.botonCategoria{
    transition: transform 0.6s;
}

.botonCategoria:hover{
    transform: scale(1.2);
}